<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<h2>Create an account</h2>

<form>
    <label for="username">Username:</label>
    <input name="username" type="text">
    <label for="password">Password:</label>
    <input name="password" type="text">
    <label for="password_repeat">Re-enter your password:</label>
    <input name="password_repeat" type="text">
    <input type="submit" value="Login">
</form>